* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(187, 187, 187);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
  }
  .container {
    background-color: white;
    width: 90%;
    max-width: 480px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.5);
  }
  .content {
    width: 90%;
    max-width: 56%;
    position: relative;
    margin: auto;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-align: center;
  }
  
  .img1 {
    width: 100px;
    height: auto;
    top: 10px;
  }
  .header {
    font-size: clamp(24px, 5vw, 32px);
    font-weight: 750;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 46px;
  }
  .detail {
    width: calc(100% - 20px);
    height: auto;
    margin: 5px;
    margin-top: 30px;
    padding: 15px;
    font-size: 15px;
    color: gray;
    border: 2px solid rgb(218, 214, 214);
    border-radius: 15px;
  }
  .detail:focus {
    box-shadow: 0px -7px 3px -2px rgba(15, 91, 231, 0.4),
      0px 7px 3px -2px rgba(15, 91, 231, 0.4),
      7px 0px 3px -2px rgba(15, 91, 231, 0.4),
      -7px 0px 3px -2px rgba(15, 91, 231, 0.4);
    outline: none;
  }
  
    .btn {
        width: 100%;
        height: 40px;
        border: hidden;
        border-radius: 20px;
        font-size: 18px;
        margin: 5px 0px;
    }
  

  
  
  .int {
    background-color: #f30d19;
    margin: 20px 0px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
  .int:hover {
    background-color: #df0812;
  }
  
  .or {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0px;
  }
  

  .ggl {
    text-align: center;
    background-color: #ccc;
  }
  .ggl a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .ggl:hover {
    background-color: #a0a0a0;
  }
  
  footer p {
    font-size: 12px;
    margin: 10px;
    opacity: 0.7;
  }
  p:last-child {
    opacity: 1;
  }
  hr {
    width: 50%;
    opacity: 0.4;
    margin-left: 25%;
  }

  .forgot{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 15px;
    padding: 20px;
  }
    .forgot:hover{
        color: #31075b;
    }  

    .sign{
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 15px;
        padding: 20px;
      
      }
